.slugs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.slug{
	width: 48%;
	cursor: pointer;
	padding: 10px;
}
.slug-name{
	border: 1px solid rgba(0, 0, 0, .2);
	padding-left: 10px;
	background-color: #fff;
}
.slug h2, .slug i{
	color: #003a57
}
i{
	float: right;
	margin-right: 1rem;
}
.active i{
	transform: rotate(180deg);
}
.pages{
	display: none;
}
.page {
	padding-left: 10px;
}
.open{
	display: block;
}
.close-all{
	padding-left: 10px;
	display: inline-block;
	cursor: pointer;
	margin-top: 2rem;
	float: right;
}
.btn {
	padding: 10px 25px;
	margin-right: 40px;
	background-color: #d63638;
	color: #fff;
	border-radius: 20px;
	margin-bottom: 1rem;
	border: none;
}
.form-group-key{
	display: inline-block;
}
.input-group-key{
	margin-top: 2rem;
}
@media only screen and (max-width: 1119px) {
  .slug {
    width: 47%;
  }
}

@media only screen and (max-width: 766px) {
  .slug {
    width: 100%;
  }
}
@media only screen and (max-width: 590px) {
  .close-all{
  	float: none;
  	display: inline-block;
  	margin-left: 12.5px;
  	margin-top: 0;
  }
}